* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* height: 100vh; */
  background-color: cadetblue;
}

.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  gap: 10px;

  border-radius: 20px;
}

.product-item {
  padding: 30px;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
  margin: 30px;
  cursor: pointer;
  overflow: hidden;
  /* transition: 0.4s ease-in-out; */
}

.product-item img {
  width: 100%;
  height: auto;
  transition: 0.4s ease-in-out;
}

.product-item img:hover {
  transform: scale(1.2);
}
