h1 {
  text-align: center;
  font-style: italic;
}

body {
  background-color: rgb(211, 190, 162);
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  transition: 0.3s all;
}

.pokemon {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border-radius: 10px;
  background: aquamarine;
  /* padding: 15px 30px; */
  margin: 5px;
  cursor: pointer;
  transition: 0.3s all;
}

.pokemon:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.pokemon:active {
  background: rgb(25, 98, 167);
  color: white;
}
